<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% block content %}

    <div class="bs-example" data-example-id="striped-table">
    <table class="table table-striped">
      <thead>
        <tr>

          <th>#</th>
          <th>githubName</th>
          <th>githubURL</th>
          <th>githubImage</th>

        </tr>
      </thead>
      <tbody>

          {% for chunk in entries%}
          <tr>
          <th scope="row">1</th>
          <td>{{ chunk.githubName }}</td>
          <td>{{ chunk.githubURL }}</td>
          <td>{{ chunk.githubImage }}</td>
          </tr>
          {% endfor %}


      </tbody>
    </table>
  </div>

    <p>test test</p>


    <ul>
      {% for chunk in entries%}
        <li>{{ chunk.githubName }}</li>
      {% endfor %}
    </ul>

    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
